html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
    padding: 0;
    margin: 0;

}

/* NAVBAR */

header {
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    box-sizing: inherit;
    font-weight: 400;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    gap: 30px;
    margin-right: 40px;

}

ul a {
    text-decoration: none;
    color: black;

}

body>header>nav>ul>button {
    text-decoration: none;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: black;
    background-color: black;
    color: white;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    overflow: visible;
    padding: 1px;
    padding-inline: 6px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid black;
}

/* STAY CURIOUS DIV  */

main {
    display: flex;
    box-sizing: inherit;
    justify-content: center;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

.svgM {
    width: 50%;
    margin-left: 0;
    padding: 0;
}

.titoli {
    width: 550px;
    z-index: 2;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    box-sizing: inherit;
    margin-left: 40px;

}

main .titoli h1 {
    margin-left: 60px;
    font-size: 106px;
    line-height: 95px;
    font-size: 60px;
    color: black;
    font-weight: 400;

    display: block;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: -0.05em;
}

body>main>div.titoli>button {
    text-decoration: none;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: black;
    background-color: black;
    color: white;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    overflow: visible;
    padding: 8px 20px;
    width: 213px;
    margin-left: 20%;
}

body>main>div.titoli>h3 {
    font-size: x-large;
    line-height: 24px;
    color: black;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;

    display: block;
    font-size: 1.17em;

}

/* SECTION 2 */


.contenitorePadre {
    display: flex;
    box-sizing: inherit;
    border-bottom: 1px solid gray;
}

.container {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;

}

.cella {
    width: 33%;
    height: fit-content;
    display: flex;
    flex-basis: auto;

}

.n {
    display: inline-block;
}

.news h2 {
    display: block;
    font-size: medium;
    margin-left: 39px;
}

.trending {
    display: block;
    margin-left: 40px;
    margin-top: 40px;

}

.trend {
    width: 25px;
    display: inline;
}

.number {
    color: #F2F2F2;
    line-height: 38px;
    font-size: 32px;
}

.news {
    display: inline;
}

img {
    display: inline;
}

.news h4 {
    display: inline;
}

.news p {
    color: #6B6B6B;
    margin-left: 39px;
}

#solve {
    display: inline;
}

/*    CONTENITORE 2 */

.contenitore2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.colonna-sinistra {
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-top: 3%;
    

}
.author{
    display: flex;
    align-items: center;
}
.author img {
    border-radius: 50%;
    width: 8%;
}

.author p{
    font-size: small;
}
.subtitleLeft{
    font-size: small;
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: 10px;
}

.topic {
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 40px;
    padding: 3px;
}
.subtitle {
    display: flex;
    justify-content: space-between;
}
.cella-testo{
    display: flex;
    flex-direction: column;
    
    
}
.cella2 {
    display: flex;
    align-items: center;
    gap: 50px;
}
.cella2 > img {
    width: 30%;
}

.cella-testo > p {
    font-size: 0.8em;
    
}


/* COLONNA SINISTRA */
.subject{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
}
.sub{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
}
.colonna-destra {
    
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
body > div > div.contenitore2 > div.colonna-destra > div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 1px solid gray;
    width: 60%;

}